:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-size: 0.85rem; /* 14px */
  line-height: 1.5rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
