@import "tailwindcss";

/* order matters */
@import "./token/colors.css";
@import "./token/shadow.css";
@import "./token/fonts.css";
@import "./token/size.css";

@import "./scrollbar.css";
@import "./animations.css";

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -20;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%) scale(1.2); /* Scale slightly larger to cover the container */
  border: none;
  pointer-events: none; /* Prevents interaction with the iframe */
}

/* This overlay hides the Google Drive controls */
.control-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px; /* Adjust based on the controls height */
  background-color: black;
  z-index: 1;
}

/* Your content goes here */
.content {
  position: relative;
  z-index: 10;
  color: white;
  /* Add your styling */
}
